/** Vista theme **/.t-widget,.t-input{border-color:#a7bac5;/*font-size:.75em;/* 12px base,if there are no inherited font-sizes(MVC default) */background-color:#fff}
/* since vista is a theme,based on an operating system,it has a custom font-family */.t-widget,.t-widget button,.t-widget input,.t-widget select,.t-button,.t-formatted-value{font-family:"Segoe UI",Arial,sans-serif}
/* .small .t-widget{font-size:.687em}
/* 11px base,if there are no inherited font-sizes(MVC default) */.t-header,.t-grid-header{border-color:#a7bac5;background:#a6d9f4 url('Vista/sprite.png') repeat-x 0 -852px}
.t-icon{background-image:url('Vista/sprite.png')}
.t-editor .t-tool-icon{background-image:url('Vista/editor.png')}
.t-loading,.t-widget .t-loading{background:transparent url('Vista/loading.gif') no-repeat 0 0}
.t-widget,.t-link:link,.t-link:active,.t-link:visited,.t-popup{color:#000}
.t-group,.t-content,.t-editable-area{border-color:#a7bac5;background-color:#fff}
.t-colorpicker .t-arrow-down{border-color:#a7bac5}
.t-separator{border-color:#eaf6fd;background-color:#a7bac5}
.t-alt{background-color:#f7f7f7}
.t-state-default{border-color:#a7bac5}
.t-active-filter{background-color:#ceeefd}
.t-state-hover,.t-state-hover:hover{background-color:#e3f4fc;border-color:#a7bac5}
.t-state-active{background-color:#fff;border-color:#a7bac5}
.t-state-selected{background-color:#c8e8f8}
.t-state-focused{background-color:#90c5e1}
.t-dropdown .t-state-focused{border-color:#6bd5f4;background:#6bd5f4 url('Vista/sprite.png') repeat-x 0 -752px}
.t-state-error,.t-widget.t-state-error,.t-widget .t-state-error,.t-widget.input-validation-error,.t-widget .input-validation-error{border-color:#f00;background-color:#ffc0cb}
.t-button{border-color:#a7bac5;color:#333}
.t-button,button.t-button.t-state-disabled:hover,a.t-button.t-state-disabled:hover,.t-state-disabled .t-button:hover{background:#d1d1d1 url('Vista/sprite.png') repeat-x 0 -560px}
.t-button:hover{background-position:0 -624px;background-color:#a7daf4}
.t-state-disabled,.t-state-disabled .t-link,.t-state-disabled .t-button{color:#999;border-color:#bbb}
.t-toolbar,.t-grouping-header,.t-grid-pager,.t-widget .t-status{border-color:#bbb;background-color:#eff7fc}
.t-grid-header-wrap,.t-grid-footer-wrap{border-color:#a7bac5}
.t-grid td{border-color:#ddd}
.t-grouping-row td{background:#fff url('Vista/sprite.png') repeat-x 0 -48px}
.t-footer-template td{background-color:#e0e5f5;border-color:#aec5d1 #e0e5f5 #fff}
.t-group-footer td{background-color:#e0e5f5;border-color:#aec5d1}

